<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>18</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://appx.mdk-photo.com/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net9.0-windows7.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>E:\AppxPublish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net9.0-windows7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>index.html</WebPageFileName>
    <ProductName>Appx Uninstaller</ProductName>
    <PublisherName>Martin Kirk</PublisherName>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <SuiteName>Appx Uninstaller</SuiteName>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <TargetCulture>en</TargetCulture>
    <History>True|2025-07-09T08:44:39.2344121Z||;True|2025-07-09T10:42:50.5653244+02:00||;True|2025-07-09T10:37:44.8655308+02:00||;True|2025-05-24T13:24:55.0821255+02:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.9.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 9.0.2 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>